<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/user']">User</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/user']" [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{exact:true}">List All</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/user/new']" [routerLinkActive]="['active']">New Developer</a>
        </li>
      </ul>
      <form class="d-flex" (ngSubmit)="makeSearch(searchTerm)">
        <input class="form-control me-2" [(ngModel)]="searchTerm" type="search" placeholder="Search" aria-label="Search"
          name="searchTerm">
        <button class="btn btn-outline-success" appTriggerModal="resultSearch" type="submit">Search</button>
      </form>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" *ngIf="!auth.isAuthenticated()" [routerLink]="['/profile/login']"
            [routerLinkActive]="['active']">login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="auth.isAuthenticated()" [routerLink]="['profile/new']"
            [routerLinkActive]="['active']">welcome {{auth.currentUser.username}}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<app-simple-modal [closeOnBodyClick]="true" [elementId]="'resultSearch'" [title]="'macthing user website'">
  <div class="list-group">
    <a [routerLink]="['/user' , user.id]" class="list-group-item" *ngFor="let user of foundUser">
      {{user?.name}}
    </a>
  </div>
</app-simple-modal>
